@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <iframe width="250" height="250" src="https://www.youtube.com/embed/eRBOgtp0Hac?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
    </div>


    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
            <button onclick="myMove()">Click Me</button>
        </p>
        <div id="myContainer">
            <div id="myAnimation"></div>
        </div>
    </div>
</div>
